- name: add epel repository
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://download.fedoraproject.org/pub/epel/7/x86_64/

- rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc

- name: add vs code repository
  yum_repository:
    name: vscode
    description: Visual Studio Code YUM repo
    baseurl: https://packages.microsoft.com/yumrepos/vscode
    enabled: 1
    gpgcheck: 1
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
