#- name: installing git
#  yum:
#    name: git
#    state: latest
#    disablerepo: base,updates
#    enablerepo: rpmforge-extras
#
- name: installing git, python, pip, node, zsh, golang, java, awscli
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - git
    - python
    - python-pip
    - npm
    - zsh
    - golang
    - java-1.8.0-openjdk-devel 
    - awscli
